/* Esercizio 1 - quadrato */
.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}


/* Esercizio 2 - quadrato */
.ex-2-square {
    background-color: red;
    transition: 2s ease-in-out;
}

.ex-2-square:active {
    width: 100%;
}


/* Esercizio 3 - quadrato */
.ex-3-square {
    background-color: red;
    transition: 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}


/* Esercizio 4 - quadrato */
.ex-4-square {
    background-color: red;
    transition: 1s;
}

.ex-4-square:hover {
    opacity: 0;
}


/* Esercizio 5 - quadrato */
.ex-5-square {
    background-color: red;
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}


/* Esercizio 6 - img */
.ex-6-img:hover {
    filter: grayscale(100);
}


/* Esercizio 7 - img */
.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: sepia(80);
}


/* Esercizio 8 - img */
.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: grayscale(5);
    filter: sepia(0.5);
}


/* Esercizio 9 - img */
.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    border-radius: 20px;
    filter: grayscale(5);
    filter: sepia(0.5);
    transform: scale(1.5);
}


/* Esercizio 10 - icon */
.ex-10-icon {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}


/* Esercizio 11 - icon */
.ex-11-icon:hover {
    animation: rotate-two 1.5s linear;
}

@keyframes rotate-two {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(280deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


/* Esercizio 12 - button */
.ex-12-button:hover .ex-12-top-white {
    animation: border-top-spin 2s linear;
}

@keyframes border-top-spin {
    0% {
        left: 10%;
    }

    50% {
        left: 68%;
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: border-bottom-spin 2s linear;
}

@keyframes border-bottom-spin {
    0% {
        right: 20%;
    }

    50% {
        right: 68%;
    }

    100% {
        right: 20%;
    }
}


/* Esercizio 13 - button */
.ex-13-button:hover .ex-13-top-white {
    animation: border-top-spin-inf 2s linear;
}

@keyframes border-top-spin-inf {
    10% {
        left: 30%;
    }

    20% {
        left: 40%;
    }

    30% {
        left: 50%;
    }

    40% {
        left: 60%;
    }

    50% {
        left: 70%;
    }

    60% {
        left: 83%;
        top: 10px;
    }

    70% {
        left: 83%;
        top: 20px
    }

    80% {
        left: 83%;
        top: 30px
    }

    90% {
        left: 83%;
        top: 40px
    }

    100% {
        left: 83%;
        top: 50px
    }
}