.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}


.ex-2-square {
    background-color: red;
    transition: 2s ease-in-out;
}

.ex-2-square:active {
    width: 100%;
}


.ex-3-square {
    background-color: red;
    transition: 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}


.ex-4-square {
    background-color: red;
    transition: 1s;
}

.ex-4-square:hover {
    opacity: 0;
}


.ex-5-square {
    background-color: red;
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}